body
  background-color: #0a0a0c
  background-image: image-url("welcome-bg.png") 
  color: white
  font-family: 'SpiegelRegular'
  margin: 0

.border-gold
  border: 3px solid transparent
  border-image: linear-gradient(to right,#836323 0,#c3a568 51%,#836323 100%)
  border-image-slice: 1
