body
  background-color: #0a0a0c
  background-image: url("bg.jpg") 
  background-size: cover
  background-attachment: fixed
  color: white
  font-family: 'Open Sans', sans-serif
  margin: 0
  
  > *
    box-sizing: border-box

.app-wrapper
  min-height: 100vh
  background: rgba(0, 0, 0, .7)

.container
  max-width: 1200px
  margin: 0 auto
  padding: 30px 15px

.button
  padding: 15px
  border: 3px solid transparent
  border-image: linear-gradient(to bottom, #08abac 0, #01698b 100%)
  border-image-slice: 1
  background: #1e2328
  color: #f0e6d2
  font-size: 20px
  cursor: pointer
  transition: 0.25s ease
  &:hover
    box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, .7)
    background: #13171c

.border-gold
  border: 3px solid transparent
  border-image: linear-gradient(to right,#836323 0,#c3a568 51%,#836323 100%)
  border-image-slice: 1

.loading
  font-size: 30px
  
