.heroes-container
  min-width: 400px
  max-width: 400px
  min-height: 940px

.heroes-actions
  input
    width: 100%
    background: transparent
    color: white
    font-size: 18px
    border: none
    border-bottom: 2px solid rgba(255, 255, 255, .5)
  button
    font-size: 18px
    width: 100%
    padding: 7px
    margin: 15px 0 30px 0
    
.heroes
  display: flex
  justify-content: center
  flex-wrap: wrap
  margin: 0
  padding: 0
  width: 100%

.hero
  list-style-type: none

  &__image
    left: 0
    top: 0
    width: 50px
    height: 50px
    border: 1px solid rgba(0, 0, 0, .5)
    border-radius: 50px
    margin: 0 5px 5px 0
    transition: 0.15s ease
    cursor: pointer
    &:hover
      transform: scale(1.5)

.hero--selected
  .hero__image
    transform: scale(1.65)
    box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.5)
    border: 1px solid white

.hero--hidden
  width: 0
  height: 0
  overflow: hidden
